<!-- This is the main maessaging page -->
{% extends "layout.html" %} {% block title %} {{title}} {% endblock %} {% block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %} {% block body %}
<h1>Messages</h1>
<div>
    <div class="row no-gutters">
        <div class="col-sm-3 no-gutters">
            <div id="channelBox">
                These will have the channels
            </div>
        </div>
        <div class="col-sm-9 no-gutters">
            <div id="messageBox">
                This will have the messages
            </div>
        </div>
    </div>
</div>
{% endblock %}