<!-- This is the main maessaging page -->
{% extends "layout.html" %} {% block title %} {{title}} {% endblock %} {% block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<script type="text/x-handlebars-template" id="sendingMessage">
    <div class="msj-rta macro">
        <div class="text text-r" style="background:whitesmoke !important">
            {% raw -%}
            <input class="mytext" id="checkingMessage" value="{{ messageContent }}" disabled/> {%- endraw %}
        </div>
    </div>
</script>

<script>
    var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
    var ps = new PerfectScrollbar(myCustomScrollbar);

    var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');

    myCustomScrollbar.onscroll = function() {
        scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
    }
</script>

<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %} {% block body %}
<h1>Messages</h1>
<div>
    <div class="row no-gutters">
        <div class="col-sm-3">
            <div id="channelBox">
                <h2>Channels</h2>
                <div class="my-custom-scrollbar scrollbar-lady-lips">
                    <ul class="nav flex-column">
                        {% for channel in channels %}
                        <li class="nav-item"><a href="" id="{{channel}}" class="messaging-channel">{{ channel }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="createChannel" class="fixed-bottom">
                    <form action="{{ url_for('create_channel') }}" method="POST">
                        <div class="row no-gutters">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="newChannelName" placeholder="Create channel" name="newChannelName">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="messageBox">
                <h2 id="messageHeading"></h2>
                <!-- Message box -->
                <!-- <div class="msj-rta macro">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" id="checkingMessage" disabled/>
                    </div>
                </div> -->

                <div id="sendMessage" class="fixed-bottom">
                    <form action="{{ url_for('message') }}" method="POST">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="message" placeholder="Enter message" name="message">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}