@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        padding: 10px;
        margin-top: 5px;
        margin: 5px;
    }
    75% {
        opacity: 0;
        height: 100%;
        padding: 10px;
        margin-top: 5px;
        margin: 5px;
    }
    100% {
        opacity: 0;
        height: 0px;
        padding: 0px;
        margin-bottom: 0px;
        margin: 0px;
    }
}

body {
    position: relative;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#channelBox {
    width: 100%;
    height: 86.5vh;
    background-color: #700391;
    position: absolute;
    padding: 5px;
    top: 0;
    bottom: 0;
    left: 0;
}

.message-scrollbar {
    background-color: rgb(243, 225, 201);
}

#messageHeading {
    border-bottom-style: solid;
}

#messageBox {
    background-color: rgb(243, 225, 201);
    width: 100%;
    height: 86.5vh;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#ErrorInput {
    padding: 20px;
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 200px;
}

.my-custom-scrollbar {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: auto;
}

#sendMessage {
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: rgb(228, 199, 163);
}

#createChannel {
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.mytextSend {
    border: 0;
    padding: 10px;
    background: #5af080;
    color: black;
}

#senderName {
    color: brown;
}

#receiverName {
    color: rgb(228, 10, 10);
}

.mytextReceive {
    border: 0;
    padding: 10px;
    background: whitesmoke;
}

.text-r {
    float: right;
    padding-left: 10px;
}

.msj-right {
    float: right;
    background: #5af080;
}

.msj-left {
    float: left;
    background: whitesmoke;
}

.links {
    margin-left: 10px;
}

.channelLinks {
    color: rgb(228, 199, 163);
}

.channelLinks:hover {
    color: white;
    text-shadow: 2px 2px gray;
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.delete {
    height: 20px;
    width: 50px;
    font-size: 10px;
    background-color: #7eff9e;
    border-radius: 10px;
}

.macro {
    margin-top: 5px;
    width: 65%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    box-shadow: 5px 5px gray;
    margin: 5px;
    position: relative;
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@media only screen and (max-width: 768px) {
    #ErrorInput {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    #MessageBox {
        width: 90%;
        padding: 5px;
    }
}